@font-face {
  font-family: 'iconfont';  /* project id 2054213 */
  src: url('//at.alicdn.com/t/font_2054213_ahh5t64cjs8.eot');
  src: url('//at.alicdn.com/t/font_2054213_ahh5t64cjs8.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2054213_ahh5t64cjs8.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2054213_ahh5t64cjs8.woff') format('woff'),
  url('//at.alicdn.com/t/font_2054213_ahh5t64cjs8.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2054213_ahh5t64cjs8.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-unLook:before {
  content: "\e624";
}

.icon-look:before {
  content: "\e67f";
}

